# Python
__pycache__/
*.py[cod]
*$py.class

# Packaging
build/
dist/
*.egg-info/
.eggs/

# Testing and coverage
.pytest_cache/
.coverage
htmlcov/

# Environments
.venv/
venv/
env/
conda-env/

# Editors
.vscode/
.idea/
*.swp

# Operating systems
.DS_Store
Thumbs.db

# Napari and Qt
.qtpy/

SingleCellDeathAnnotator_Full_Installation_and_User_Instructions.docx
SingleCellDeathAnnotator_Full_Installation_and_User_Instructions.pdf